# Predictions:

In [1]:
import pandas as pd
import joblib

## Choosing the Instance to Predic:

In [5]:
data_instancia_to_predic = pd.read_csv("data/data_instancia_to_predic.csv")
data_instancia_to_predic

,Unnamed: 0,id,nome,host_id,host_name,bairro_group,bairro,latitude,longitude,room_type,...,min_nights_category,bairro_group_Bronx,bairro_group_Brooklyn,bairro_group_Manhattan,bairro_group_Queens,bairro_group_Staten Island,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,price
0,0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,...,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,225

### Choosing the Model to Predict:

In [6]:
# Load the Model
import joblib

model_path = 'models/catboost_model_20250208_131741.pkl'

# Load the model from the file
loaded_model = joblib.load(model_path)

# Verify the model is loaded correctly
print(loaded_model)
print("As features treinadas deste modelo foi: ")
features_to_predict = loaded_model.feature_names_
features_to_predict

<catboost.core.CatBoostRegressor object at 0x00000203FC3AD730>
As features treinadas deste modelo foi:

['latitude',
 'longitude',
 'bairro',
 'room_type',
 'minimo_noites',
 'numero_de_reviews',
 'reviews_por_mes',
 'calculado_host_listings_count',
 'disponibilidade_365',
 'tempo_desde_ultimo_review',
 'trimestre_review',
 'nome_sentiment',
 'dist_manhattan_center',
 'dist_central_park',
 'dist_wall_street',
 'dist_statue_of_liberty',
 'dist_jfk_airport',
 'dist_la_guardia_airport',
 'dist_ubs_arena',
 'dist_coney_island_beach',
 'preco_medio_bairro',
 'min_nights_category']

### Features of Instance to Predic:

In [7]:
data_instancia_to_predic[features_to_predict]

,latitude,longitude,bairro,room_type,minimo_noites,numero_de_reviews,reviews_por_mes,calculado_host_listings_count,disponibilidade_365,tempo_desde_ultimo_review,...,dist_manhattan_center,dist_central_park,dist_wall_street,dist_statue_of_liberty,dist_jfk_airport,dist_la_guardia_airport,dist_ubs_arena,dist_coney_island_beach,preco_medio_bairro,min_nights_category
0,40.75362,-73.98377,Midtown,Entire home/apt,1,45,0.38,2,355,2089.0,...,0.507861,3.731366,5.69514,8.799439,21.391484,9.62566,22.262269,20.159783,253.893204,0

### Prediction:

In [8]:
prediction = loaded_model.predict(data_instancia_to_predic[features_to_predict])

# Exibir o resultado
print(f"Predicted Price: ${prediction[0]:.2f}")

Predicted Price: $332.20

In [ ]:
# User Input
entry = {'id': 2595,
 'nome': 'Skylit Midtown Castle',
 'host_id': 2845,
 'host_name': 'Jennifer',
 'bairro_group': 'Manhattan',
 'bairro': 'Midtown',
 'latitude': 40.75362,
 'longitude': -73.98377,
 'room_type': 'Entire home/apt',
 'minimo_noites': 1,
 'numero_de_reviews': 45,
 'ultima_review': '2019-05-21',
 'reviews_por_mes': 0.38,
 'calculado_host_listings_count': 2,
 'disponibilidade_365': 355
 }